<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "ME2.png" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Aaron Anchors</h1>
		<p>Welcome to the #1 spot for news and entertainment, b.k.a "Anchortainment".</p>
		<p>This blogsite was built to share the various entertainment in music, sports, and more!.</p>
		<p>If you'd like to follow along with me as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/anchortainment">@Anchortainment</a> or on Instagram <a href="https://instagram.com/therealanchortainment/">@TheRealAnchortainment</a>, and get my future posts and exclusive content in your inbox by signing up for my upcoming newsletters.</p>
	</div>
</div>